
  <nav class="navbar navbar-expand-lg bg-dark shadow">
    <div class="container-fluid ">
      <a class="navbar-brand text-light fs-1" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  text-light active fs-5 mx-5" aria-current="page" routerLink="/">Home</a>
          </li>
        
        </ul>
          <input 
            class="form-control rounded-4 form-element w-25 mx-5" 
            type="text" 
            placeholder="Search by id..."
            aria-label="Search"
            (input)="getsearch($event)" 
          >
      </div>
    </div>
  </nav>
